
html, body {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.webgl-error {
  position: fixed;
  top: 60%;
  left: 10%;
  font-size: 4em;
  letter-spacing: 3px;
  display: none;
  color: white;
  z-index: 1000;
}

#scene-overlay {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: white;
  z-index: 999;
}

.video-overlay, .image-overlay, .canvas-overlay {
  position: fixed;
  z-index: 200;
}

.video-overlay {
  background-color: black;
}

.full-screen-video {
  position: fixed;
  object-fit: fill;
  width: 100%;
  height: 100%;
  top: 0%;
  left: 0%;
  background-color: black;
  z-index: 100;
}

/** APP CSS */

a {
  color: rgba(0, 125, 255, 0.87);
  text-decoration: none;
}
  a:hover, a:focus {
    text-decoration: underline;
    font-style: italic;
  }

#mobile-error-overlay {
  display: none;
  position: fixed; top: 0; left: 0; bottom: 0; right: 0; z-index: 2000; overflow-y: auto;
  background-color: white; color: rgba(0, 0, 0, 0.87);
  font-size: 30px; font-family: 'Helvetica', sans-serif;
}
  #mobile-error-overlay p {
    padding: 50px 50px 50px 50px;
  }
  #mobile-error-image {
    display: block; margin: 20px 0px 20px 0px;
  }

.splash-overlay {
  position: absolute; left: 0; top: 0; width: 100%; height: 100%; z-index: 999;
  box-sizing: border-box; padding: 80px;
  background-color: white; color: rgba(0, 0, 0, 0.87);
  font-family: 'Helvetica', sans-serif;
}
  .splash-overlay .title {
    font-size: 40px; letter-spacing: 1px; margin-bottom: 20px;
  }
  .splash-overlay .description-text {
    font-size: 21px; max-width: 500px; line-height: 28px;
  }
  #splash-status {
    font-size: 26px; margin-bottom: 20px;

    -webkit-transition: all 250ms;
    -moz-transition: all 250ms;
    transition: all 250ms;
  }
  #splash-please-use-chrome {
    display: none;
    font-size: 21px; margin-bottom: 20px;
  }
  #splash-controls {
    display: none;
    font-size: 20px; line-height: 30px; margin-bottom: 20px;
  }
  #splash-disclaimer {
    margin-left: 0px; /* b man you can make this more left if u want */
    margin-top: 15px; margin-bottom: 20px;
  }
  #click-to-start {
    display: none;
    font-size: 32px;
  }

.key-hint {
  display: none;
  position: absolute; bottom: 20px; right: 20px; padding: 20px; z-index: 1000000000;
  background-color: white; color: rgba(0, 0, 0, 0.8);
  font-family: 'Helvetica', sans-serif; font-size: 24px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
